
body {
    background-color: lightcoral;
  }
  
  h1 {
    color: blue;
    text-align: center;
  }
  
  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25;
    text-decoration: lightsalmon;
    text-align: center;
  }